<?php

$defaultHeader =<<<'EOH'
This file is part of the Word Finder package.

(c) Douglas Reith

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOH;

$finder = PhpCsFixer\Finder::create()
    ->exclude('var')
    ->in(__DIR__)
;

$config = PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'declare_strict_types' => true,
        'native_function_invocation' => true,
        'header_comment' => [
            'header' => $defaultHeader,
            'comment_type' => 'PHPDoc',
        ]
    ])
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;

return $config;
